doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap")
    body 
        header.navbar 
            nav
                ul.navbar-menu 
                    li.nav-item 
                        a(href="/" class=(path === 'users' ? 
                        'active' : '')) List of Users
                    li.nav-item 
                        a(href="/adduser" class=(path === 'add-user' ? 
                        'active' : '')) Add Users
                    li.nav-item 
                        a(href="/sign-in" class=(path === 'sign-in' ? 
                        'active' : '')) Sign In
        main
            block content
            