extends layouts/layout.pug 

block content 
    form.action-form(action="/sign-in", method="post") 
        div.form-control
            label.title Username
            input(type="text", name="username")

            //- label.title Password
            //- input(type="password", name="pass")
        button(type="submit") Sign In
